* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 14px;
}

window#waybar {
    background: rgba(17, 17, 27, 1);
    border-radius: 8px;
}

#custom-rofi {
    color: #11111b;
    background: #89b4fa;
    margin: 4px;
    padding-left: 8px;
    padding-right: 14px;
    border-radius: 8px;
    font-size: 15px;
}

#workspaces {
    background: #1e1e2e;
    margin: 4px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 8px;
}

#workspaces button {
    background: transparent;
    color: #6c7086;
    padding: 0 4px;
}

#workspaces button.active {
    background: transparent;
    color: #89b4fa;
}

#battery {
    color: #cdd6f4;
    background: #1e1e2e;
    margin: 4px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 8px;
}

#pulseaudio {
    color: #cdd6f4;
    background: #1e1e2e;
    margin: 4px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 8px;
}

#clock {
    color: #cdd6f4;
    background: #1e1e2e;
    margin: 4px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 8px;
}
