* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 13px;
}

window#waybar {
    background: #11111b;
    border-radius: 8px;
}

#workspaces button {
    background: transparent;
    padding: 0 5px;
}

#workspaces button.active {
    background: transparent;
}

#workspaces button, #clock, #battery {
    color: #cdd6f4;
}

#clock {
    background: transparent;
    padding: 0 10px;
}

#battery {
    background: transparent;
    padding: 0 10px
}

#battery.charging {
    background: transparent;
    color: #a6e3a1;
}
