* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 13px;
}

window#waybar {
    background: #11111b;
    border-radius: 8px;
}

#workspaces button {
    background: transparent;
    color: #6c7086;
    padding: 0 4px;
}

#workspaces button.active {
    background: transparent;
}

#workspaces button.active, #battery, #pulseaudio, #clock {
    color: #cdd6f4;
}

#clock {
    background: transparent;
    padding: 0 10px;
}

#battery {
    background: transparent;
    padding: 0 10px
}
